<!-- Nav Search -->
<div class="nav-item dropdown nav-search dropdown-toggle-icon-none">
    <a class="nav-link pe-0 dropdown-toggle" role="button" href="#" id="navSearch" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-search fs-4"> </i>
    </a>
    <div class="dropdown-menu dropdown-menu-end shadow rounded p-2" aria-labelledby="navSearch">
        <form class="input-group" method="get" action="{% url 'social:post_search' %}">
            <input class="form-control border-success" name="query" type="search" placeholder="جستجو" aria-label="Search">
            <button class="btn btn-success m-0" type="submit">جستجو</button>
        </form>
    </div>
</div>

{% if tag %}
    <h2>Posts tagged with {{ tag.name }}</h2>
{% endif %}

{% for post in posts %}
    <a href="{{ post.get_absolute_url }}">
        {{ post.description | truncatewords:20 | linebreaks }}
    </a>
    Published at ({{ post.created }}) by {{ post.author }}
    <br>
    {% for tag in post.tags.all %}
        <a href="{% url 'social:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
        {% if not forloop.last %}, {% endif %}
    {% endfor %}
    <br><br>
{% endfor %}

<!-- صفحه بندی -->
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">« اول</a>
            <a href="?page={{ posts.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
            صفحه {{ posts.number }} از {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">بعدی</a>
            <a href="?page={{ posts.paginator.num_pages }}">آخر »</a>
        {% endif %}
    </span>
</div>